link(rel="stylesheet" href='/css/foundation.min.css')
link(rel='stylesheet' href='/css/main.css')
script(type='text/javascript' src='/js/jquery.min.js')
script(type='text/javascript' src='/js/foundation.min.js')